<!DOCTYPE html>
<html lang="en">
<head>
  <title>Activate your Secutils.dev account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{> email_styles}}
</head>
<body>
<div class="container">
  <p>Hi there,</p>
  <p>Thanks for signing up! To activate your account, please click the button below:</p>
  <a class="navigate-link" href="{{{encoded_activation_link}}}">Activate my account</a>
  <p>Alternatively, copy and paste the following URL into your browser:</p>
  <p>{{{encoded_activation_link}}}</p>
  <p>Or, simply copy and paste the following code into the account activation form:</p>
  <p class="numeric-code">{{{encoded_activation_code}}}</p>
  <p>If you have any trouble activating your account, please email us at <a href="mailto: contact@secutils.dev">contact@secutils.dev</a>
    or simply reply to this email.</p>
  <a href="{{home_link}}"><img src="cid:secutils-logo" alt="Secutils.dev logo" width="89" height="14" /></a>
</div>
</body>
</html>
