<!DOCTYPE html>
<html lang="en">
<head>
  <title>Activate your Secutils.dev account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f1f1f1;
          margin: 0;
          padding: 0;
      }
      .container {
          max-width: 600px;
          margin: 0 auto;
          background-color: #fff;
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
          font-size: 24px;
          margin-top: 0;
      }
      p {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 20px;
      }
      .activate-link {
          color: #fff;
          background-color: #2196F3;
          padding: 10px 20px;
          text-decoration: none;
          border-radius: 5px;
      }
  </style>
</head>
<body>
<div class="container">
  <h1>Activate your Secutils.dev account</h1>
  <p>Thanks for signing up! To activate your account, please click the link below:</p>
  <a class="activate-link" href="{{{encoded_activation_link}}}">Activate my account</a>
  <p>If the button above doesn't work, you can also copy and paste the following URL into your browser:</p>
  <p>{{{encoded_activation_link}}}</p>
  <p>If you have any trouble activating your account, please contact us at <a href="mailto: contact@secutils.dev">contact@secutils.dev</a>.</p>
</div>
</body>
</html>
