<!DOCTYPE html>
<html lang="en">
<head>
  <title>Activate your Secutils.dev account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{> email_styles}}
</head>
<body>
<div class="container">
  <h1>Activate your Secutils.dev account</h1>
  <p>Thanks for signing up! To activate your account, please click the link below:</p>
  <a class="button-link" href="{{{encoded_activation_link}}}">Activate my account</a>
  <p>If the button above doesn't work, you can also copy and paste the following URL into your browser:</p>
  <p>{{{encoded_activation_link}}}</p>
  <p>If you have any trouble activating your account, please contact us at <a href="mailto: contact@secutils.dev">contact@secutils.dev</a>.</p>
</div>
</body>
</html>
