name: Secutils

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '*.md'
      - '.husky/**'
      - 'Dockerfile'
      - 'Dockerfile.aarch64-unknown-linux-musl'
      - 'Dockerfile.dockerignore'
      - 'Dockerfile.docs'
      - 'Dockerfile.docs.dockerignore'
      - 'Dockerfile.webui'
      - 'Dockerfile.webui.dockerignore'
      - 'LICENSE'
      - 'dev/**'

env:
  CARGO_TERM_COLOR: always
  DATABASE_URL: postgres://postgres@localhost:5432/secutils

jobs:
  ci-api:
    name: Build API (Linux)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [ stable ]
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v6

      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      # Always install nightly toolchain for `Rustfmt`.
      - name: Install toolchain ${{ matrix.rust }}
        run: |
          rustup toolchain install ${{ matrix.rust }} nightly
          rustup override set ${{ matrix.rust }}
          rustup component add clippy
          rustup component add --toolchain nightly rustfmt

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2

      - name: Check format
        run: cargo +nightly fmt --all -- --check

      - name: Check database schema
        run: |
          cargo install --locked --force sqlx-cli
          cargo sqlx database create
          cargo sqlx migrate run
          cargo sqlx prepare --check

      - name: Test (default features)
        run: cargo test

      - name: Build (default features)
        run: cargo build --workspace --release

      - name: Clippy
        run: cargo clippy --workspace --all-targets -- -D warnings

  ci-webui:
    name: Build Web UI (Linux)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm --prefix components/secutils-webui ci

      - name: Build
        run: npm --prefix components/secutils-webui run build

  ci-docs:
    name: Build Docs (Linux)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm --prefix components/secutils-docs ci

      - name: Build
        run: npm --prefix components/secutils-docs run build
