services:
  secutils_db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=secutils
    volumes:
      - db_vol:/var/lib/postgresql/data
      - type: bind
        source: ./postgres_init.sql
        target: /docker-entrypoint-initdb.d/postgres_init.sql
    networks:
      - net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  kratos_migrate:
    image: oryd/kratos:v25.4.0
    depends_on:
      secutils_db:
        condition: service_healthy
    volumes:
      - type: bind
        source: ./kratos.toml
        target: /etc/config/kratos/kratos.toml
    command: -c /etc/config/kratos/kratos.toml migrate sql up -e --yes
    restart: on-failure
    networks:
      - net

  kratos:
    image: oryd/kratos:v25.4.0
    environment:
      - SECRETS_COOKIE=${SECRETS_COOKIE:-some_very_very_secure_cookie_key}
      - SECRETS_CIPHER=${SECRETS_CIPHER:-some_very_very_secure_cipher_key}
      - SELFSERVICE_FLOWS_REGISTRATION_AFTER_PASSWORD_HOOKS_0_CONFIG_AUTH_CONFIG_VALUE=${SELFSERVICE_FLOWS_REGISTRATION_AFTER_PASSWORD_HOOKS_0_CONFIG_AUTH_CONFIG_VALUE}
      - SELFSERVICE_FLOWS_REGISTRATION_AFTER_WEBAUTHN_HOOKS_0_CONFIG_AUTH_CONFIG_VALUE=${SELFSERVICE_FLOWS_REGISTRATION_AFTER_WEBAUTHN_HOOKS_0_CONFIG_AUTH_CONFIG_VALUE}
      - COURIER_HTTP_REQUEST_CONFIG_AUTH_CONFIG_VALUE=${COURIER_HTTP_REQUEST_CONFIG_AUTH_CONFIG_VALUE}
    ports:
      - '4433:4433' # public
      - '4434:4434' # admin
    restart: unless-stopped
    depends_on:
      secutils_db:
        condition: service_healthy
      kratos_migrate:
        condition: service_completed_successfully
    volumes:
      - type: bind
        source: ./kratos.toml
        target: /etc/config/kratos/kratos.toml
      - type: bind
        source: ./user_identity.schema.json
        target: /etc/config/kratos/user_identity.schema.json
    command: serve -c /etc/config/kratos/kratos.toml --dev --watch-courier --sqa-opt-out
    networks:
      - net
    extra_hosts:
      - "host.docker.internal:host-gateway"

  retrack:
    build:
      context: ../../components/retrack
      dockerfile: Dockerfile
    ports:
      - "7676:7676"
    environment:
      - RETRACK_DB__HOST=secutils_db
      - RETRACK_DB__NAME=retrack
      - RETRACK_DB__USERNAME=postgres
      - RETRACK_COMPONENTS__WEB_SCRAPER_URL=http://retrack_web_scraper:7272/
      - 'RETRACK_TRACKERS__DEFAULT_ACTIONS=[{ type = "log" }, { type = "webhook", url = "http://host.docker.internal:7070/api/webhooks/retrack", headers = { "Content-Type" = "application/json", Authorization = "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjIwODc2MzUwMDgsInN1YiI6IkByZXRyYWNrIn0.eTdHUivatlOh-KNzSsr2gZi2I1RQLnRcMawv0Nn4KR8" }, formatter = "(() => ({ content: { newContent: context.newContent, previousContent: context.previousContent || null } }))()" }]'
    depends_on:
      secutils_db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - net
    extra_hosts:
      - "host.docker.internal:host-gateway"

  retrack_web_scraper:
    build:
      context: ../../components/retrack
      dockerfile: Dockerfile.web-scraper
    ports:
      - "7272:7272"
    environment:
      - RETRACK_WEB_SCRAPER_BROWSER_CHROMIUM_NO_SANDBOX=true
      - RETRACK_WEB_SCRAPER_EXTRACTOR_SANDBOX_EXTRA_ALLOWED_MODULES=node:crypto
    restart: unless-stopped
    networks:
      - net

volumes:
  db_vol:
    driver: local

networks:
  net:
    driver: bridge
