services:
  secutils_db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=secutils
    volumes:
      - db_vol:/var/lib/postgresql/data
      - type: bind
        source: ./postgres_init.sql
        target: /docker-entrypoint-initdb.d/postgres_init.sql
    networks:
      - net

  kratos_migrate:
    image: oryd/kratos:v25.4.0
    depends_on:
      - secutils_db
    volumes:
      - type: bind
        source: ./kratos.toml
        target: /etc/config/kratos/kratos.toml
    command: -c /etc/config/kratos/kratos.toml migrate sql up -e --yes
    restart: on-failure
    networks:
      - net

  kratos:
    image: oryd/kratos:v25.4.0
    environment:
      - SECRETS_COOKIE=${SECRETS_COOKIE:-some_very_very_secure_cookie_key}
      - SECRETS_CIPHER=${SECRETS_CIPHER:-some_very_very_secure_cipher_key}
      - SELFSERVICE_FLOWS_REGISTRATION_AFTER_PASSWORD_HOOKS_0_CONFIG_AUTH_CONFIG_VALUE=${SELFSERVICE_FLOWS_REGISTRATION_AFTER_PASSWORD_HOOKS_0_CONFIG_AUTH_CONFIG_VALUE}
      - SELFSERVICE_FLOWS_REGISTRATION_AFTER_WEBAUTHN_HOOKS_0_CONFIG_AUTH_CONFIG_VALUE=${SELFSERVICE_FLOWS_REGISTRATION_AFTER_WEBAUTHN_HOOKS_0_CONFIG_AUTH_CONFIG_VALUE}
      - COURIER_HTTP_REQUEST_CONFIG_AUTH_CONFIG_VALUE=${COURIER_HTTP_REQUEST_CONFIG_AUTH_CONFIG_VALUE}
    ports:
      - '4433:4433' # public
      - '4434:4434' # admin
    restart: unless-stopped
    depends_on:
      - kratos_migrate
      - secutils_db
    volumes:
      - type: bind
        source: ./kratos.toml
        target: /etc/config/kratos/kratos.toml
      - type: bind
        source: ./user_identity.schema.json
        target: /etc/config/kratos/user_identity.schema.json
    command: serve -c /etc/config/kratos/kratos.toml --dev --watch-courier --sqa-opt-out
    networks:
      - net
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  db_vol:
    driver: local

networks:
  net:
    driver: bridge
